#map {
    width: 700px;
    height: 700px;
    background-image: url('https://w7.pngwing.com/pngs/99/842/png-transparent-flag-of-india-flag-of-india-map-national-flag-india-map-flag-text-india-thumbnail.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .place-marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: showMarker 1s ease-in-out forwards;
  }
  
  @keyframes showMarker {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  input{
      padding: 20px;
      margin-top: 20px;
      margin-right: 20px;
      margin-left: 20px;
  }
  button{
      padding: 10px;
  }